html,
body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

@media (min-width: 992px) {
    .c-layout-header .c-brand {
        margin: 26px 0 37px 0;
    }
    .c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
        margin: 8px 0 19px 0;
    }
    .c-layout-revo-slider-4 .form-horizontal {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .c-layout-header .c-brand {
        margin: 6px 15px 7px 15px;
    }
    .c-layout-header .c-brand .c-hor-nav-toggler {
        margin: 14px 15px;
    }
    .c-layout-revo-slider-4 .c-font-54 {
        font-size: 22px;
    }
    .c-layout-revo-slider-4 .c-font-34 {
        font-size: 18px;
    }
    .c-layout-revo-slider-4 .c-font-48 {
        font-size: 22px;
    }
    .c-layout-revo-slider-4 .c-font-24 {
        font-size: 18px;
    }
    .input-lg {
        height: 32px;
    }
    .c-layout-revo-slider-4 .form-horizontal {
        display: none;
    }
    .tp-banner .qr-code {
        display: none;
    }
    .tparrows.circle {
        width: 30px;
        height: 30px;
    }

}

.c-layout-revo-slider-4 .c-main-title-square {
    background: rgba(0, 0, 0, 0.21);
}

.c-layout-revo-slider-4 .form-horizontal {
    margin-top: 20px;
}

.tp-banner .qr-code {
    margin-top: 10px;
}

.tp-banner .c-icons {
    width: auto;
    margin-top: 10px;
}

.tp-banner .c-icons>.socicon-btn {
    width: auto;
    height: auto;
    padding: 13px;
    margin-left: -1px;
    background-color: #ffffff;
}

.tp-banner .c-icons>.socicon-btn:hover {
    background-color: #eeeeee;
}

.c-layout-footer-6 .c-postfooter .c-corp {
    font-size: 15px;
    margin: 0px;
}

.c-layout-footer-6 .c-postfooter .c-copyright {
    float: right;
}

.c-font-colors {
    color: #838e9a !important;
}

.c-phone-img {
    width: 364px;
    height: 648px;
}



.c-content-feature-4.c-content-lefts.c-diagonals {
    border-right: 50px solid;
    border-top: 50px solid transparent;
}

.c-content-app-1 > .c-diagram{
    margin-top: 60px;
}
.retract {
    text-indent: 1em !important;
}

/* .c-content-box.c-size-lg {
    padding: 0;
} */

.c-content-box.c-bg-parallax .shade {
    padding: 120px 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
}

.c-feature-15-desc {
    text-indent: 2em;
}


.shade {
    
    background: rgba(0, 0, 0, 0.30);
    width: 100%;
}
 
.buttTwo{
    text-align: center;
    position: relative;
    padding-top: 1%;
    padding-bottom: 7%;
    margin: auto;
}

.fa-color-blue{
    color: #32c5d2 !important;
}

.tp-banner-container.tp-fullscreen{
    height: auto;
}
.c-margin-bottom-30{
    margin-bottom: 30px;
}