html,
body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

@media (min-width: 992px) {
    .c-layout-header .c-brand {
        margin: 26px 0 37px 0;
    }
    .c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
        margin: 8px 0 19px 0;
    }
}

@media (max-width: 991px) {
    .c-layout-header .c-brand {
        margin: 6px 15px 7px 15px;
    }
    .c-layout-header .c-brand .c-hor-nav-toggler {
        margin: 14px 15px;
    }
}

.c-layout-revo-slider-4 .c-main-title-square {
    background: rgba(0, 0, 0, 0.21);
}

.c-layout-revo-slider-4 .form-horizontal {
    margin-top: 20px;
}

.tp-banner .qr-code{
    margin-top: 10px;
}

.tp-banner .c-icons {
    width: auto;
    margin-top: 10px;
}

.tp-banner .c-icons>.socicon-btn {
    width: auto;
    height: auto;
    padding: 13px;
    margin-left: -1px;
    background-color: #ffffff;
}

.tp-banner .c-icons>.socicon-btn:hover {
    background-color: #eeeeee;
}

.c-layout-footer-6 .c-postfooter .c-corp {
    font-size: 15px;
    margin: 0px;
}

.c-layout-footer-6 .c-postfooter .c-copyright {
    float: right;
}