@import './custom.less';

@content1: content1;

.@{content1} {
  // &-img {
  //   height: 100%;
  //   width: 40%;
  //   overflow: hidden;
  //   position: absolute;
  //   left: 0;
  //   span {
  //     display: inline-block;
  //     position: absolute;
  //     width: 55%;
  //     right: 10%;
  //     line-height: 50vh;
  //     height: 100vh;
  //     margin: auto;
  //     top: 0;
  //     bottom: 0;
  //     img {
  //       vertical-align: middle;
  //     }
  //   }
  // }
  &-text {
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    top: -500px;
    bottom: 0;
    margin: auto;
    right: 0;
    & p, & h1 {
      position: relative !important;
      width: 100%;
    }
    & h1 {
      font-size: 32px;
      font-weight: normal;
      color: #404040;
      letter-spacing: 4px;
    }
    & p {
      text-indent:2em;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content1}-wrapper {
    height: 400px;
    .@{content1} {
      overflow: hidden;
      width: 90%;
      margin: auto;
      &-text {
        display: block;
        margin-left: 5%;
        width: 90%;
        height: 150px;
        position: absolute;
        top: -400px;
        bottom: 0;
        margin: auto;
        right: 0;
        & p, & h1 {
          position: relative !important;
          width: 100%;
        }
        & h1 {
          font-size: 24px;
          font-weight: normal;
          color: #404040;
        }
        & p {
          text-indent:2em;
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
  }
}